
<h2> Welcome brave warriors! Enter your names <h2>

<form action='/names' method='post'>
  <div>
  <label for="p1">Player 1:</label>
  <input type="text" id="p1" name="player1">
  </div>
  <div>
  <label for="p2">Player 2:</label>
  <input type="text" id ="p2" name="player2">
  </div>

  <div class="button">
  <button type="submit"> Enter the area!</button>
  </div>

</form>

<h3> They will be written in history! <h3>