<%= @game.player1.name %> <%= @game.player2.name %>
<br>

<%= @game.player2.name %>'s HIT points: <%= @game.player2.health_points %>
<br>

<form action='/attack'>
<button type="submit" name="attack">Attack!</button>
</form>
